<!-- Contact Section -->
<div class="container overflow-hidden bg-white px-7 py-8 md:py-14">
  <div class="mt-16 grid grid-cols-1 gap-8 md:grid-cols-2" data-aos="fade-up">
    <!-- Left Image -->
    <div class="" data-aos="fade-right">
      <img
        src="assets/images/working-meeting-asian-colleagues-2.jpg"
        alt="Tư vấn"
        class="w-full rounded-2xl object-cover shadow-lg"
      />
    </div>

    <!-- Right Content -->
    <div class="flex flex-col justify-center" data-aos="fade-left">
      <div class="mb-3 inline-block">
        <span class="text-md">Liên hệ</span>
      </div>
      <h3 class="mb-6 text-3xl font-bold md:text-4xl">
        Lợi ích khi chọn An Phú Holdings là đơn vị tư vấn thuê văn phòng và
        thiết kế thi công nội thất.
      </h3>

      <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:gap-5">
        <div data-aos="fade-left" data-aos-delay="100">
          1. Sử dụng AI phân tích nhu cầu của bạn giải pháp chi từ 7 - 10 phút.
        </div>

        <div data-aos="fade-left" data-aos-delay="200">
          2. Kết hợp tìm văn phòng & thiết kế thi công nội thất giúp tiết kiệm
          đến 30%.
        </div>

        <div data-aos="fade-left" data-aos-delay="300">
          3. Có xe hợi dẫn tận nơi, miễn phí toàn bộ dịch vụ tư trong suốt quá
          trình.
        </div>

        <div data-aos="fade-left" data-aos-delay="400">
          4. Tặng 2 vé du lịch Thái Lan khi khách thuê hoặc thi công từ 500m2
          trở lên.
        </div>
      </div>

      <div class="mt-8 space-y-4">
        <button
          data-aos="fade-left"
          data-aos-delay="500"
          class="w-full rounded-full border bg-primary px-8 py-4 text-lg font-semibold text-white transition-colors hover:border-primary hover:bg-white hover:text-primary"
        >
          Hotline : 0987110011
        </button>
        <button
          data-aos="fade-left"
          data-aos-delay="600"
          class="w-full rounded-full border border-primary px-8 py-4 text-lg font-semibold text-primary transition hover:bg-primary hover:text-white"
        >
          Để lại thông tin
        </button>
      </div>
    </div>
  </div>
</div>
