<header
  class="container flex h-[100px] items-center justify-between bg-white p-2.5"
>
  <!-- Logo -->
  <div>
    <a href="index.html" target="_blank">
      <img
        src="assets/logo/anphu-holdinngs-80x80.png"
        alt=""
        class="shrink-0"
        loading="lazy"
      />
    </a>
  </div>

  <ul
    class="header-nav hidden items-center gap-2.5 text-[14px] font-semibold md:flex lg:text-[16px]"
  >
    <li class="dropdown-rent">
      <a
        href="cho-thue-van-phong.html"
        target="_blank"
        class="inline-block px-4 py-5"
      >
        Cho thuê văn phòng
      </a>
      <div class="dropdown-rent-child">
        <ul class="rent-child-left">
          <li class="rent-left-tab rent-office-district">
            <a href="van-phong-cho-thue-theo-quan.html" target="_blank"
              >Văn phòng theo quận</a
            >
          </li>
          <li class="rent-left-tab rent-office-ward">
            <a href="van-phong-cho-thue-theo-phuong.html" target="_blank"
              >Văn phòng theo phường</a
            >
          </li>
          <div class="rent-left-body">
            <ul class="rent-left-body-district">
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 2</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 8</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 9</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 12</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.htmltml"
                  >Quận Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Gò Vấp</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.htmll"
                  >Quận Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Bình Chánh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Thủ Đức</a
                >
              </li>
            </ul>

            <ul class="rent-left-body-ward">
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Sài Gòn - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Định - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bến Thành - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Cầu Ông Lãnh - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bàn Cờ - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Nhiêu Lộc - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Xuân Hòa - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Khánh Hội - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Vĩnh Hội - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Xóm Chiếu - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Chợ Lớn - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >An Đông - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Chợ Quán - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Thuận - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thuận - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Mỹ - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Hưng - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Hòa Hưng - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Diên Hồng - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Vườn Lài - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Hòa Bình - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Thới - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thọ - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Minh Phụng - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Gia Định - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Thạnh - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Lợi Trung - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Thạnh Mỹ Tây - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Quới - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn Hòa - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn Nhất - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Hòa - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bảy Hiền - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Bình - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tây Thạnh - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn Nhì - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thọ Hòa - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thạnh - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Phú - Tân Phú</a
                >
              </li>
            </ul>
          </div>
        </ul>
        <ul class="rent-child-right">
          <li class="text-center">
            <a href="#" target="_blank" class="hover:text-primary"
              >Văn phòng theo hạng</a
            >
          </li>
          <ul class="text-[14px] font-semibold">
            <li class="my-2 w-full">
              <a
                class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                target="_blank"
                href="van-phong-hang-a.html"
                >Hạng A</a
              >
            </li>
            <li class="my-2 w-full">
              <a
                class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                target="_blank"
                href="van-phong-hang-a.html"
                >Hạng B</a
              >
            </li>
            <li class="my-2 w-full">
              <a
                class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                target="_blank"
                href="van-phong-hang-a.html"
                >Hạng C</a
              >
            </li>
            <li class="my-2 w-full">
              <a
                class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                target="_blank"
                href="van-phong-hang-a.html"
                >Hạng giá rẻ</a
              >
            </li>
          </ul>
        </ul>
      </div>
    </li>

    <li class="dropdown-package">
      <a href="#" target="_blank" class="px-4 py-5">Văn phòng trọn gói</a>
      <div class="dropdown-package-child">
        <ul class="package-child">
          <li class="package-tab package-office-district">
            <a href="van-phong-tron-goi-theo-quan.html" target="_blank"
              >Văn phòng theo quận</a
            >
          </li>
          <li class="package-tab package-office-ward">
            <a href="#" target="_blank">Văn phòng theo phường</a>
          </li>
          <div class="package-body">
            <ul class="package-body-district">
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 2</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 8</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 9</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận 12</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.htmltml"
                  >Quận Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận Gò Vấp</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.htmll"
                  >Quận Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận Bình Chánh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-quan-1.html"
                  >Quận Thủ Đức</a
                >
              </li>
            </ul>

            <ul class="package-body-ward">
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Sài Gòn - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Định - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bến Thành - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Cầu Ông Lãnh - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bàn Cờ - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Nhiêu Lộc - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Xuân Hòa - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Khánh Hội - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Vĩnh Hội - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Xóm Chiếu - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Chợ Lớn - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >An Đông - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Chợ Quán - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Thuận - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Phú Thuận - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Mỹ - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Hưng - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Hòa Hưng - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Diên Hồng - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Vườn Lài - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Hòa Bình - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bình Thới - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Phú Thọ - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Minh Phụng - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Gia Định - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bình Thạnh - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bình Lợi Trung - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Thạnh Mỹ Tây - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bình Quới - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Sơn Hòa - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Sơn Nhất - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Hòa - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Bảy Hiền - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Bình - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Sơn - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tây Thạnh - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Sơn Nhì - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Phú Thọ Hòa - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Phú Thạnh - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-tron-goi-phuong-tan-dinh.html"
                  >Tân Phú - Tân Phú</a
                >
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </li>

    <li class="dropdown-virtual">
      <a href="#" target="_blank" class="px-4 py-5">Văn phòng ảo</a>
      <div class="dropdown-virtual-child">
        <ul class="virtual-child">
          <li class="virtual-tab virtual-office-district">
            <a href="#" target="_blank">Văn phòng theo quận</a>
          </li>
          <li class="virtual-tab virtual-office-ward">
            <a href="#" target="_blank">Văn phòng theo phường</a>
          </li>
          <div class="virtual-body">
            <ul class="virtual-body-district">
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 2</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 8</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 9</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận 12</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.htmltml"
                  >Quận Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Gò Vấp</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.htmll"
                  >Quận Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Bình Chánh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-quan-1.html"
                  >Quận Thủ Đức</a
                >
              </li>
            </ul>

            <ul class="virtual-body-ward">
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Sài Gòn - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Định - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bến Thành - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Cầu Ông Lãnh - Q1</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bàn Cờ - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Nhiêu Lộc - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Xuân Hòa - Q3</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Khánh Hội - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Vĩnh Hội - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Xóm Chiếu - Q4</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Chợ Lớn - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >An Đông - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Chợ Quán - Q5</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Thuận - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thuận - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Mỹ - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Hưng - Q7</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Hòa Hưng - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Diên Hồng - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Vườn Lài - Q10</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Hòa Bình - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Thới - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thọ - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Minh Phụng - Q11</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Gia Định - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Thạnh - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Lợi Trung - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Thạnh Mỹ Tây - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bình Quới - Bình Thạnh</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn Hòa - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn Nhất - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Hòa - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Bảy Hiền - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Bình - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn - Tân Bình</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tây Thạnh - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Sơn Nhì - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thọ Hòa - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Phú Thạnh - Tân Phú</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="block rounded-xl px-3 py-2 hover:bg-primary hover:text-white"
                  href="van-phong-cho-thue-phuong-tan-dinh.html"
                  >Tân Phú - Tân Phú</a
                >
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </li>
  </ul>

  <div class="hidden md:block">
    <button type="button" class="header-phone-btn">
      <a href="tel:+84903 123 124" class="header-phone-text">+84903 123 124</a>
      <svg
        class="svg-inline--fa fa-phone text-lg"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="phone"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M164.9 24c-21.5-18.7-54.1-15.8-72.1 6.6l-18.1 22.6c-24.1 30.1-31.1 69.1-18.7 105.1C89.5 251.9 174.4 336.8 273.8 406.8c36 24.5 75 31.4 105.1 18.7l22.6-18.1c22.4-18 25.3-50.6 6.6-72.1l-64.7-74.1c-14.8-17-39.2-20.1-57.5-7.4l-25.1 17.5c-4.6 3.2-10.7 2-13.8-2.6L201.2 181.7c-3.1-4.6-2-10.7 2.6-13.8l25.1-17.5c18.3-12.8 21.4-37.2 6.6-54.1L164.9 24z"
        ></path>
      </svg>
    </button>
  </div>
</header>
