<div class="container overflow-hidden px-4 py-8 xl:px-0">
  <div data-aos="zoom-in-left" class="relative mb-8">
    <h2
      class="aos-init swiper-slide-active heading-2 text-xl font-bold uppercase leading-tight text-secondary md:text-2xl lg:text-3xl"
    >
      Bạn đang tìm kiếm văn phòng cho thuê tại Tp Hồ Chí Minh?
    </h2>
  </div>

  <div
    class="flex flex-nowrap gap-4 overflow-x-auto p-3 md:grid md:grid-cols-4 xl:grid-cols-6"
    style="scrollbar-width: thin; scrollbar-color: #231f20 #f4f5f6"
  >
    <!-- Row 1 -->
    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 1
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 2
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 3
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 4
      </h3>
    </a>

    <!-- Row 2 -->
    <a
      data-aos="zoom-in-right"
      href="/van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 5
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 7
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 8
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 9
      </h3>
    </a>

    <!-- Row 3 -->
    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 10
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 11
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận 12
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận Bình Thạnh
      </h3>
    </a>

    <!-- Row 4 -->
    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận Phú Nhuận
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận Gò Vấp
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận Tân Bình
      </h3>
    </a>

    <a
      data-aos="zoom-in-right"
      href="van-phong-cho-thue-phuong-tan-dinh.html"
      class="group flex shrink-0 items-center justify-center gap-3 rounded-3xl border border-secondary bg-white p-4 transition-all duration-300 hover:border-primary hover:shadow-lg"
    >
      <h3
        class="font-semibold text-secondary transition-colors duration-300 group-hover:text-primary"
      >
        Quận Thủ Đức
      </h3>
    </a>
  </div>
</div>
