<div class="office-rental-swipe-container container overflow-hidden px-4 py-8">
  <div class="mb-8 flex items-center justify-between gap-5">
    <h2
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="text-navy line-clamp-1 overflow-ellipsis text-xl font-bold md:text-2xl lg:text-3xl"
    >
      VĂN PHÒNG CHO THUÊ HẠNG A
    </h2>

    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="flex min-w-[80px] gap-1 md:gap-3"
    >
      <button
        class="hover:bg-navy-light flex items-center justify-center rounded-lg bg-primary px-2 py-1 text-white transition md:px-5 md:py-2"
      >
        <span class="text-md hidden md:block lg:text-lg">Xem toàn bộ</span>
        <i class="fa fa-eye sm:text-md block text-xs md:hidden"></i>
      </button>
      <button
        class="office-rental-swiper-prev hover:bg-gold/10 min-w-[22px] rounded-lg border border-primary p-1 transition md:p-2"
      >
        <i
          class="fas fa-chevron-left sm:text-md text-xs text-primary md:text-lg lg:text-xl"
        ></i>
      </button>
      <button
        class="office-rental-swiper-next hover:bg-gold/10 min-w-[22px] rounded-lg border border-primary p-1 transition md:p-2"
      >
        <i
          class="fas fa-chevron-right sm:text-md text-xs text-primary md:text-lg lg:text-xl"
        ></i>
      </button>
    </div>
  </div>

  <!-- Swiper -->
  <div
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-offset="150"
    class="office-rental-swiper overflow-hidden px-2 py-3"
  >
    <div class="swiper-wrapper">
      <!-- Card 1 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-1.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  Mê Linh Point Tower
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 2 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-3.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  Vietcombank Tower
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 3 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-3.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  Sonatus Building
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 4 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-4.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  VOV Building
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Card 5 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-5.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  Ruby Tower
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 6 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-6.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  Havana Tower
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 7 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-7.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  The Nexus
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 8 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-lg"
        style="width: 292px"
        data-aos="fade-right"
      >
        <a href="van-phong-tron-goi-detail.html">
          <div
            class="relative overflow-hidden"
            style="
              background-image: url('assets/images/detail/detail-8.jpg');
              background-position: center;
              background-size: contain;
              aspect-ratio: 4/3;
            "
          >
            <div class="flex h-full flex-col justify-end p-4">
              <div class="rounded-xl bg-white px-3 py-2">
                <h3
                  class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
                >
                  Saigon Marina IFC
                </h3>
                <div class="flex items-center justify-between">
                  <button
                    class="rounded-xl border border-primary bg-white px-4 py-2 text-sm text-primary transition hover:bg-primary hover:text-white"
                  >
                    So sánh
                  </button>
                  <button
                    class="rounded-xl border border-gray-300 bg-white p-2 text-primary transition hover:bg-primary hover:text-white"
                  >
                    <i class="far fa-clone"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
