<div class="office-rental-swipe-container container overflow-hidden px-4 py-8">
  <div class="mb-8 flex items-center justify-between gap-5">
    <h2
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="heading-2 line-clamp-1 overflow-ellipsis"
    >
      VĂN PHÒNG ẢO QUẬN 1
    </h2>

    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="flex min-w-[80px] gap-1 md:gap-3"
    >
      <button
        class="group flex items-center justify-center rounded-lg border border-secondary px-2 py-1 text-secondary transition hover:border-primary md:px-5 md:py-2"
      >
        <span
          class="text-md hidden text-secondary group-hover:text-primary md:block lg:text-lg"
          >Xem toàn bộ</span
        >
        <i class="fa fa-eye sm:text-md block text-xs md:hidden"></i>
      </button>
      <button
        class="office-rental-swiper-prev group min-w-[30px] rounded-lg border border-secondary p-1 transition hover:border-primary md:p-2"
      >
        <i
          class="fas fa-chevron-left sm:text-md text-xs text-secondary group-hover:text-primary md:text-lg lg:text-xl"
        ></i>
      </button>
      <button
        class="office-rental-swiper-next group min-w-[30px] rounded-lg border border-secondary p-1 transition hover:border-primary md:p-2"
      >
        <i
          class="fas fa-chevron-right sm:text-md text-xs text-secondary group-hover:text-primary md:text-lg lg:text-xl"
        ></i>
      </button>
    </div>
  </div>

  <!-- Swiper -->
  <div
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-offset="150"
    class="office-rental-swiper overflow-hidden px-2 py-3"
  >
    <div class="swiper-wrapper">
      <!-- Card 1 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-9.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 19/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            The Hallmark
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">43 - 46 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >02 Ngô Đức Kế, Phường Sài Gòn, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-10.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 19/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            Metrolink An Phú
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">53 - 55 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >5 Công Trường Mê Linh, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-11.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 21/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            The Mett Tower
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">43 - 45 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >15 Lê Thánh Tôn, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-12.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 20/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            The Central Thảo Điền
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">21 - 25 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >7 Nguyễn Thị Minh Khai, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Card 5 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <div class="flex h-48 items-center justify-center bg-slate-200">
            <img
              src="assets/images/detail/detail-13.jpg"
              alt=""
              class="aspect-4/3 block h-full w-full object-cover"
            />
            <!-- <i class="fas fa-image text-5xl text-gray-400"></i> -->
          </div>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 19/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            Pearl Center
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">43 - 46 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >02 Ngô Đức Kế, Phường Sài Gòn, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-14.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 19/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            Thisofic Tower
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">53 - 55 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >5 Công Trường Mê Linh, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 7 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-15.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 21/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            The Crest Office
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">43 - 45 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >15 Lê Thánh Tôn, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 8 -->
      <div
        class="swiper-slide flex-shrink-0 overflow-hidden rounded-2xl border-4 shadow-md transition hover:shadow-xl"
        style="width: 292px"
        data-aos="fade-right"
      >
        <div class="relative overflow-hidden">
          <a href="van-phong-ao-detail.html">
            <div class="flex h-48 items-center justify-center bg-slate-200">
              <img
                src="assets/images/detail/detail-16.jpg"
                alt=""
                class="aspect-4/3 block h-full w-full object-cover"
              />
            </div>
          </a>
          <div
            class="absolute left-3 top-3 rounded border border-secondary bg-white px-2 py-1 text-xs font-semibold text-secondary hover:border-primary hover:text-primary"
          >
            LEED PLATINUM
          </div>
          <button
            class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50"
          >
            <i class="far fa-heart"></i>
          </button>
        </div>

        <div class="p-4">
          <p class="mb-1 text-sm text-gray-500">Cập nhật ngày 20/11/2025</p>
          <h3
            class="mb-3 line-clamp-1 overflow-ellipsis text-lg font-semibold text-secondary hover:text-primary"
          >
            Worc@Q2 Building
          </h3>

          <div class="mb-2 flex items-center gap-2">
            <i class="fas fa-tag text-secondart text-sm"></i>
            <span class="font-semibold text-secondary">21 - 25 USD/m2</span>
            <span class="font-semibold text-secondary">/ M2</span>
          </div>

          <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
            <i class="fas fa-map-marker-alt mt-1 text-secondary"></i>
            <span class="line-clamp-1 w-full overflow-ellipsis text-secondary"
              >7 Nguyễn Thị Minh Khai, Quận 1</span
            >
          </div>

          <div class="flex items-center justify-between">
            <button
              class="rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              So sánh
            </button>
            <button
              class="group rounded-xl border border-secondary px-4 py-2 text-sm text-secondary transition hover:border-primary hover:text-primary"
            >
              <i
                class="far fa-clone text-secondary group-hover:text-primary"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
