.header-nav {
  /* min-width: 700px; */
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 950px) {
  .header-nav {
    min-width: 700px;
  }
}

@media (min-width: 768px) {
  .header-nav {
    min-width: 600px;
  }
}

/* Cho thue van phong */
.dropdown-rent {
  position: relative;
}

.dropdown-rent-child {
  position: absolute;
  top: 40px;
  left: 0%;
  z-index: 50;
  min-width: 800px;
  max-width: 1250px;
  height: 370px;
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.dropdown-rent:hover .dropdown-rent-child {
  visibility: visible;
  opacity: 1;
}

.rent-child-left {
  flex-grow: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.rent-left-body {
  position: absolute;
  top: 25px;
  width: 100%;
  margin: 5px;
}

.rent-left-body-district {
  display: grid;
  margin-top: 10px;
  padding-top: 3px;
  overflow-y: auto;
  overscroll-behavior: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border-top: 1px solid #ddd;
}

.rent-left-body-ward {
  margin-top: 10px;
  padding-top: 3px;
  overflow: hidden;
  overscroll-behavior: none;
  display: none;
  border-top: 1px solid #ddd;
}

.rent-left-tab {
  text-align: left;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
}

.rent-left-tab > span {
  color: #231f20;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

.rent-left-tab:hover > span {
  color: #1ba0e1 !important;
}

.rent-office-district:hover ~ .rent-left-body > .rent-left-body-district {
  display: grid;
}
.rent-office-district:hover ~ .rent-left-body > .rent-left-body-ward {
  display: none;
}
.rent-office-district.activate {
  color: #1ba0e1;
}
.rent-office-district.activate ~ .rent-left-body > .rent-left-body-district {
  display: grid;
}
.rent-office-district.activate ~ .rent-left-body > .rent-left-body-ward {
  display: none;
}

.rent-office-ward:hover ~ .rent-left-body > .rent-left-body-ward {
  display: block;
}

.rent-office-ward:hover ~ .rent-left-body > .rent-left-body-district {
  display: none;
}
.rent-office-ward.activate ~ .rent-left-body > .rent-left-body-ward {
  display: block;
}
.rent-office-ward.activate ~ .rent-left-body > .rent-left-body-district {
  display: none;
}

.rent-left-body-ward-district {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .dropdown-rent-child {
    transform: translateX(-20%);
  }
}
@media (min-width: 950px) {
  .dropdown-rent-child {
    transform: translateX(-100px);
  }
}

/* Vp tron goi */
.dropdown-package {
  position: relative;
}

.dropdown-package-child {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 50;
  min-width: 800px;
  max-width: 1250px;
  height: 370px;
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.dropdown-package:hover .dropdown-package-child {
  visibility: visible;
  opacity: 1;
}

.package-child-left {
  flex-grow: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.package-left-body {
  position: absolute;
  top: 25px;
  width: 100%;
  margin: 5px;
}

.package-left-body-district {
  display: grid;
  margin-top: 10px;
  padding-top: 3px;
  overflow-y: auto;
  overscroll-behavior: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border-top: 1px solid #ddd;
}

.package-left-body-ward {
  display: none;
  margin-top: 10px;
  padding-top: 3px;
  overflow: hidden;
  overscroll-behavior: none;
  position: relative;
  border-top: 1px solid #ddd;
}

.package-left-tab {
  text-align: left;
  height: 40px;
  cursor: pointer;
}

.package-left-tab > a {
  color: #231f20;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

.package-left-tab:hover > a {
  color: #1ba0e1 !important;
}

.package-office-district:hover
  ~ .package-left-body
  > .package-left-body-district {
  display: grid;
}
.package-office-district:hover ~ .package-left-body > .package-left-body-ward {
  display: none;
}
.package-office-district.activate
  ~ .package-left-body
  > .package-left-body-district {
  display: grid;
}
.package-office-district.activate
  ~ .package-left-body
  > .package-left-body-ward {
  display: none;
}

.package-office-ward:hover ~ .package-left-body > .package-left-body-ward {
  display: block;
}
.package-office-ward:hover ~ .package-left-body > .package-left-body-district {
  display: none;
}
.package-office-ward.activate ~ .package-left-body > .package-left-body-ward {
  display: block;
}
.package-office-ward.activate
  ~ .package-left-body
  > .package-left-body-district {
  display: none;
}

.package-left-body-ward-district {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .dropdown-package-child {
    transform: translateX(-47%);
  }
}
@media (min-width: 950px) {
  .dropdown-package-child {
    transform: translateX(-43%);
  }
}

/* Vp ao */
.dropdown-virtual {
  position: relative;
}

.dropdown-virtual-child {
  position: absolute;
  top: 40px;
  left: 0%;
  z-index: 50;
  min-width: 800px;
  max-width: 1250px;
  height: 370px;
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.dropdown-virtual:hover .dropdown-virtual-child {
  visibility: visible;
  opacity: 1;
}

.virtual-child-left {
  flex-grow: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.virtual-left-body {
  position: absolute;
  top: 25px;
  width: 100%;
  margin: 5px;
}

.virtual-left-body-district {
  display: grid;
  margin-top: 10px;
  padding-top: 3px;
  overflow-y: auto;
  overscroll-behavior: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border-top: 1px solid #ddd;
}

.virtual-left-body-ward {
  display: none;
  margin-top: 10px;
  padding-top: 3px;
  overflow: hidden;
  overscroll-behavior: none;
  position: relative;
  border-top: 1px solid #ddd;
}

.virtual-left-tab {
  text-align: left;
  height: 40px;
  cursor: pointer;
}

.virtual-left-tab > a {
  color: #231f20;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

.virtual-left-tab:hover > a {
  color: #1ba0e1 !important;
}

.virtual-office-district:hover
  ~ .virtual-left-body
  > .virtual-left-body-district {
  display: grid;
}
.virtual-office-district:hover ~ .virtual-left-body > .virtual-left-body-ward {
  display: none;
}
.virtual-office-district.activate
  ~ .virtual-left-body
  > .virtual-left-body-district {
  display: grid;
}
.virtual-office-district.activate
  ~ .virtual-left-body
  > .virtual-left-body-ward {
  display: none;
}

.virtual-office-ward:hover ~ .virtual-left-body > .virtual-left-body-ward {
  display: block;
}
.virtual-office-ward:hover ~ .virtual-left-body > .virtual-left-body-district {
  display: none;
}
.virtual-office-ward.activate ~ .virtual-left-body > .virtual-left-body-ward {
  display: block;
}
.virtual-office-ward.activate
  ~ .virtual-left-body
  > .virtual-left-body-district {
  display: none;
}

.virtual-left-body-ward-district {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .dropdown-virtual-child {
    transform: translateX(-75%);
  }
}
@media (min-width: 950px) {
  .dropdown-virtual-child {
    transform: translateX(-68%);
  }
}

ul[class*='-child-right'] > li:first-child {
  font-size: 18px;
  font-weight: bold;
}
ul[class*='-child-right'] > ul {
  margin-top: 13px;
  border-top: 1px solid #ddd;
}

ul[class*='-left-body-ward-ward-'] {
  position: absolute;
  top: 5px;
  left: 155px;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 350px;
  padding: 10px 40px;

  visibility: hidden;
  opacity: 0;
  transition: visbility, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

ul[class*='-left-body-ward-container'] {
  width: 170px;
  height: 270px;
  padding: 10px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #231f20 #f4f5f6;
}

div[class*='rent-left-body-ward']
  li:first-child
  ul[class*='-left-body-ward-ward-'] {
  visibility: visible;
  opacity: 1;
}
.rent-office-ward:hover
  ~ .rent-left-body
  > .rent-left-body-ward
  > .rent-left-body-ward-container
  > li.rent-left-body-ward-district-1 {
  background-color: #1ba0e1;
  color: #ffffff;
}
div[class*='package-left-body-ward']
  li:first-child
  ul[class*='-left-body-ward-ward-'] {
  visibility: visible;
  opacity: 1;
}
.package-office-ward:hover
  ~ .package-left-body
  > .package-left-body-ward
  > .package-left-body-ward-container
  > li.package-left-body-ward-district-1 {
  background-color: #1ba0e1;
  color: #ffffff;
}
div[class*='virtual-left-body-ward']
  li:first-child
  ul[class*='-left-body-ward-ward-'] {
  visibility: visible;
  opacity: 1;
}
.virtual-office-ward:hover
  ~ .virtual-left-body
  > .virtual-left-body-ward
  > .virtual-left-body-ward-container
  > li.virtual-left-body-ward-district-1 {
  background-color: #1ba0e1;
  color: #ffffff;
}

li[class*='-left-body-ward-district-'] {
  padding: 5px 10px;
  border-radius: 10px;
  color: #231f20;
  width: 100%;
}

li[class*='-left-body-ward-district-']:hover {
  background-color: #1ba0e1;
  color: #ffffff;
}

li[class*='-left-body-ward-district-']:hover
  > ul[class*='-left-body-ward-ward-'] {
  visibility: visible;
  opacity: 1;
}

li:has(+ li[class*='-left-body-ward-district-']:hover)
  > ul[class*='-left-body-ward-ward-'],
li:has(~ li[class*='-left-body-ward-district-']:hover)
  > ul[class*='-left-body-ward-ward-'] {
  visibility: hidden;
  opacity: 0;
}

.header-phone-btn {
  padding: 0.25rem 0.5rem;
  background-color: #ffffff;
  color: #231f20;
  border: 1px solid #231f20;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.header-phone-btn:hover {
  border-color: #1ba0e1;
  color: #1ba0e1;
}

.header-phone-text {
  font-size: 15px;
  color: #444;
  display: inline-block;
  width: max-content;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
  position: absolute;
  right: 120%;
  top: -20%;
  padding: 10px;
}

.header-phone-text.active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .header-phone-text {
    right: 0%;
    top: 100%;
  }
}
@media (min-width: 950px) {
  .header-phone-text {
    right: 120%;
    top: -20%;
  }
}

.nav-item-header {
  color: #231f20;
  font-weight: bold;
}
.nav-item-header:hover {
  color: #1ba0e1;
}

@media (min-width: 768px) {
  .nav-item-header {
    font-size: 16px;
  }
}
@media (min-width: 950px) {
  .nav-item-header {
    font-size: 18px;
  }
}

.spliter {
  width: 2px;
  height: 30px;
  background-color: #231f20;
  margin: 5px 10px;
}
