<div class="customer-logo-swipe-container container overflow-hidden px-4 py-8">
  <div class="mb-8 flex items-center justify-between gap-5">
    <h2
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="heading-2 line-clamp-1 overflow-ellipsis"
    >
      CÁC KHÁCH HÀNG HỢP TÁC
    </h2>

    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="flex min-w-[80px] gap-1 md:gap-3"
    >
      <button
        class="customer-logo-swiper-prev hover:bg-gold/10 min-w-[22px] rounded-lg border border-gray-300 p-1 transition md:p-2"
      >
        <i
          class="fas fa-chevron-left sm:text-md text-xs text-primary md:text-lg lg:text-xl"
        ></i>
      </button>
      <button
        class="customer-logo-swiper-next hover:bg-gold/10 min-w-[22px] rounded-lg border border-gray-300 p-1 transition md:p-2"
      >
        <i
          class="fas fa-chevron-right sm:text-md text-xs text-primary md:text-lg lg:text-xl"
        ></i>
      </button>
    </div>
  </div>

  <!-- Swiper -->
  <div
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-offset="150"
    class="customer-logo-swiper overflow-hidden px-2"
  >
    <!-- <div class="swiper-wrapper"> -->
    <div
      class="grid grid-cols-2 justify-center gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8"
    >
      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-CapitaLand-feature.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-halo-building.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-Cobi-groupp.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-ree-coporation.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-SSG-Group-feature.png"
          alt="TP. Thủ Đức"
          class="rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-maple-tree.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-moc-gia.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-regus.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/saigon-centre.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-CapitaLand-feature.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-halo-building.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-Cobi-groupp.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-ree-coporation.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-SSG-Group-feature.png"
          alt="TP. Thủ Đức"
          class="rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-maple-tree.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-moc-gia.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/logo-regus.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>

      <div
        class="swiper-slide border-nature-100 rounded-xl border bg-white p-2 transition-all hover:shadow-lg md:p-3 xl:p-4"
        style="width: 140px; height: 65px"
      >
        <img
          src="assets/logo/saigon-centre.png"
          alt="TP. Thủ Đức"
          class="h-full w-full rounded-lg object-cover object-center opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
