<!-- gọi vào không active button đc -->

<div class="container my-5 sm:hidden 2xl:pr-0">
  <form action="#" class="w-full">
    <div class="space-y-2 pb-2">
      <div class="flex">
        <span
          class="inline-flex items-center rounded-s-md border border-e-0 border-gray-300 bg-gray-200 px-3 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-600 dark:text-gray-400">
          <i class="fa-solid fa-location-crosshairs text-sm"></i>
        </span>
        <input type="text"
          class="block w-full min-w-0 flex-1 rounded-none rounded-e-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="New York City, USA" />
      </div>

      <div class="flex">
        <span
          class="inline-flex items-center rounded-s-md border border-e-0 border-gray-300 bg-gray-200 px-3 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-600 dark:text-gray-400">
          <i class="fa-solid fa-house-chimney text-sm"></i>
        </span>
        <input type="text"
          class="block w-full min-w-0 flex-1 rounded-none rounded-e-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Duplex House" />
      </div>

      <div class="flex">
        <span
          class="inline-flex items-center rounded-s-md border border-e-0 border-gray-300 bg-gray-200 px-3 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-600 dark:text-gray-400">
          <i class="fa-solid fa-sack-dollar text-sm lg:text-base"></i>
        </span>
        <input type="text"
          class="block w-full min-w-0 flex-1 rounded-none rounded-e-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="4,00 - 5,00$" />
      </div>
    </div>
    <div class="grid w-full grid-cols-4 divide-x font-medium">
      <button type="button" class="h1-search-sm active rounded-l-md py-2">
        Sell
      </button>
      <button type="button" class="h1-search-sm py-2">Buy</button>
      <button type="button" class="h1-search-sm py-2">Rent</button>
      <button type="submit" class="h1-search-sm rounded-r-md bg-primary py-2 text-white">
        <i class="fa-solid fa-magnifying-glass text-lg"></i>
      </button>
    </div>
  </form>
</div>