<div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="300"
  class="my__gradient hidden w-full items-center justify-between rounded-md border border-[#ededed] bg-white px-4 py-4 shadow-shadow4 sm:flex md:rounded-xl md:px-6 md:py-[18px] lg:w-[945px] lg:rounded-[20px] lg:px-8 lg:py-5 xl:px-10 xl:py-[25px]">
  <div class="space-y-1 lg:space-y-[10px]">
    <p class="text-xs font-normal text-primary md:text-sm lg:text-base">
      Quận:
    </p>
    <div class="flex items-center gap-x-1.5 lg:gap-x-2.5">
      <input type="text" id="city"
        class="focus:placeholder:text-new-300 m-0 block size-fit w-full max-w-28 appearance-none rounded-lg border-0 bg-transparent !p-0 text-xs text-nature-500 shadow-none placeholder:text-xs placeholder:font-medium placeholder:text-nature-500 focus:outline-none focus:ring-0 md:text-sm placeholder:md:text-sm lg:text-base placeholder:lg:text-base"
        placeholder="New Your City" />
    </div>
  </div>

  <div class="hidden !h-[50px] !w-[1px] bg-gray-300 md:block"></div>

  <div class="flex flex-col items-center justify-center">
    <div class="space-y-1 lg:space-y-[10px]">
      <p class="text-xs font-normal text-primary md:text-sm lg:text-base">
        Toà nhà:
      </p>
      <div class="flex items-center gap-x-1.5 lg:gap-x-2.5">
        <input type="text" id="type"
          class="focus:placeholder:text-new-300 m-0 block size-fit w-full max-w-28 appearance-none rounded-lg border-0 bg-transparent !p-0 text-xs text-nature-500 shadow-none placeholder:text-xs placeholder:font-medium placeholder:text-nature-500 focus:outline-none focus:ring-0 md:text-sm placeholder:md:text-sm lg:text-base placeholder:lg:text-base"
          placeholder="Duplex House" />
      </div>
    </div>
  </div>

  <div class="hidden !h-[50px] !w-[1px] bg-gray-300 md:block"></div>
  <div class="flex flex-col items-center justify-center">
    <div class="space-y-1 lg:space-y-[10px]">
      <p class="text-xs font-normal text-primary md:text-sm lg:text-base">
        Giá thuê:
      </p>
      <div class="flex items-center gap-x-1.5 lg:gap-x-2.5">
        <input type="text" id="price"
          class="focus:placeholder:text-new-300 m-0 block size-fit w-full max-w-28 appearance-none rounded-lg border-0 bg-transparent !p-0 text-xs text-nature-500 shadow-none placeholder:text-xs placeholder:font-medium placeholder:text-nature-500 focus:outline-none focus:ring-0 md:text-sm placeholder:md:text-sm lg:text-base placeholder:lg:text-base"
          placeholder="$18,000 - 30,000" />
      </div>
    </div>
  </div>

  <div class="hidden !h-[50px] !w-[1px] bg-gray-300 md:block"></div>

  <div class="flex items-center justify-center md:w-auto">
    <div>
      <button
        class="flex size-fit items-center gap-x-4 rounded-full bg-primary px-5 py-2.5 text-sm font-normal text-white lg:text-base">
        <span class="!font-normal">Search</span>
      </button>
    </div>
  </div>
</div>