<!-- New ward office Start -->
<div class="container space-y-4 overflow-hidden px-4 py-6 xl:px-0">
  <h2 data-aos="zoom-in-up" class="heading-2 aos-animate uppercase">
    Văn phòng theo phường mới
  </h2>
  <p data-aos="zoom-in-up" data-aos-delay="150" class="heading-tagline">
    Danh mục văn phòng theo phường mới được tổng hợp nhằm hỗ trợ doanh nghiệp
    tra cứu nhanh <br />
    vị trí và các tòa nhà văn phòng phù hợp theo đơn vị hành chính cập nhật.
  </p>

  <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
    <!-- Row 1 -->
    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-16.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Sài Gòn
        </h4>
        <p class="text-nature-300 text-sm">343+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-17.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Tân Định
        </h4>
        <p class="text-nature-300 text-sm">32+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-18.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Bến Thành
        </h4>
        <p class="text-nature-300 text-sm">164+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-19.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Cầu Ông Lãnh
        </h4>
        <p class="text-nature-300 text-sm">70+ tòa nhà</p>
      </div>
    </a>

    <!-- Row 2 -->
    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-20.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Bàn Cờ
        </h4>
        <p class="text-nature-300 text-sm">218+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-21.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Xuân Hòa
        </h4>
        <p class="text-nature-300 text-sm">97+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-22.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Nhiêu Lộc
        </h4>
        <p class="text-nature-300 text-sm">54+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-23.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Xóm Chiếu
        </h4>
        <p class="text-nature-300 text-sm">102+ tòa nhà</p>
      </div>
    </a>

    <!-- Row 3 -->
    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-24.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Khánh Hội
        </h4>
        <p class="text-nature-300 text-sm">343+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-25.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Vĩnh Hội
        </h4>
        <p class="text-nature-300 text-sm">32+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-28.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Chợ Quán
        </h4>
        <p class="text-nature-300 text-sm">164+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-29.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường An Đông
        </h4>
        <p class="text-nature-300 text-sm">70+ tòa nhà</p>
      </div>
    </a>

    <!-- Row 4 -->
    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-30.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Chợ Lớn
        </h4>
        <p class="text-nature-300 text-sm">218+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-31.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Tân Thuận
        </h4>
        <p class="text-nature-300 text-sm">97+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-32.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Tân Hưng
        </h4>
        <p class="text-nature-300 text-sm">54+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-33.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Tân Mỹ
        </h4>
        <p class="text-nature-300 text-sm">102+ tòa nhà</p>
      </div>
    </a>

    <!-- Row 5 -->
    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-16.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Phú Thuận
        </h4>
        <p class="text-nature-300 text-sm">343+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-17.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Chánh Hưng
        </h4>
        <p class="text-nature-300 text-sm">32+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-18.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Phú Định
        </h4>
        <p class="text-nature-300 text-sm">164+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-19.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Bình Đông
        </h4>
        <p class="text-nature-300 text-sm">70+ tòa nhà</p>
      </div>
    </a>

    <!-- Row 6 -->
    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-20.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Vườn Lài
        </h4>
        <p class="text-nature-300 text-sm">218+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-21.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Diên Hồng
        </h4>
        <p class="text-nature-300 text-sm">97+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-primary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-22.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Hòa Hưng
        </h4>
        <p class="text-nature-300 text-sm">54+ tòa nhà</p>
      </div>
    </a>

    <a
      data-aos="zoom-in-right"
      href="#"
      class="border-nature-100 swiper-slide-active aos-animate group flex items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <div
        class="flex size-16 items-center justify-center rounded-lg bg-secondary/10"
      >
        <img
          src="assets/images/thumbnails/thumbnail-23.jpg"
          alt="TP. Thủ Đức"
          class="size-16 rounded-lg object-cover"
        />
      </div>
      <div>
        <h4
          class="text-nature-600 font-semibold transition-colors group-hover:text-primary"
        >
          Phường Minh Phụng
        </h4>
        <p class="text-nature-300 text-sm">102+ tòa nhà</p>
      </div>
    </a>
  </div>
</div>
