<div class="container space-y-6 overflow-hidden px-4 py-8 xl:px-0">
  <h2 data-aos="zoom-in-up" class="heading-2 uppercase">Văn phòng theo quận</h2>
  <p data-aos="zoom-in-up" data-aos-delay="150" class="heading-tagline">
    Việc phân loại văn phòng theo quận giúp doanh nghiệp tiếp cận nguồn cung văn
    phòng theo từng khu vực,<br />
    thuận tiện so sánh vị trí, chi phí và đặc điểm từng quận trong TP.HCM. tiện
    so sánh vị trí, chi phí và đặc điểm từng quận trong TP.HCM.
  </p>

  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    <!-- Quận 1 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-1.jpg"
          alt="Quận 1"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 1
        </h3>
        <p class="text-nature-300 text-sm">343+ tòa nhà</p>
      </div>
    </a>

    <!-- Quận 5 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-2.jpg"
          alt="Quận 5"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 5
        </h3>
        <p class="text-nature-300 text-sm">32+ tòa nhà</p>
      </div>
    </a>

    <!-- Quận 2 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-3.jpg"
          alt="Quận 2"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 2
        </h3>
        <p class="text-nature-300 text-sm">164+ tòa nhà</p>
      </div>
    </a>

    <!-- Quận 7 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-4.jpg"
          alt="Quận 7"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 7
        </h3>
        <p class="text-nature-300 text-sm">70+ tòa nhà</p>
      </div>
    </a>
  </div>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    <!-- Quận 3 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-5.jpg"
          alt="Quận 3"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 3
        </h3>
        <p class="text-nature-300 text-sm">218+ tòa nhà</p>
      </div>
    </a>

    <!-- Quận 8 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-6.jpg"
          alt="Quận 8"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 8
        </h3>
        <p class="text-nature-300 text-sm">97+ tòa nhà</p>
      </div>
    </a>

    <!-- Quận 4 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-7.jpg"
          alt="Quận 4"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 4
        </h3>
        <p class="text-nature-300 text-sm">54+ tòa nhà</p>
      </div>
    </a>

    <!-- Quận 10 -->
    <a
      href="#"
      data-aos="zoom-in-right"
      class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
    >
      <div
        class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
        style="width: 100px; height: 100px"
      >
        <img
          src="assets/images/thumbnails/thumbnail-8.jpg"
          alt="Quận 10"
          class="aspect-square rounded-lg object-cover hover:scale-110"
          style="width: 100%; height: 100%"
        />
      </div>
      <div>
        <h3
          class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
        >
          Quận 10
        </h3>
        <p class="text-nature-300 text-sm">65+ tòa nhà</p>
      </div>
    </a>
  </div>
  <div id="expandable-office-district" class="hidden">
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <!-- Quận 11 -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-9.jpg"
            alt="Quận 11"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Quận 11
          </h3>
          <p class="text-nature-300 text-sm">98+ tòa nhà</p>
        </div>
      </a>

      <!-- Phú Nhuận -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-10.jpg"
            alt="Phú Nhuận"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Phú Nhuận
          </h3>
          <p class="text-nature-300 text-sm">128+ tòa nhà</p>
        </div>
      </a>

      <!-- Quận 12 -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-11.jpg"
            alt="Quận 12"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Quận 12
          </h3>
          <p class="text-nature-300 text-sm">12+ tòa nhà</p>
        </div>
      </a>

      <!-- Tân Phú -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-12.jpg"
            alt="Tân Phú"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Tân Phú
          </h3>
          <p class="text-nature-300 text-sm">69+ tòa nhà</p>
        </div>
      </a>
    </div>
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <!-- Bình Thạnh -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-13.jpg"
            alt="Bình Thạnh"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Bình Thạnh
          </h3>
          <p class="text-nature-300 text-sm">232+ tòa nhà</p>
        </div>
      </a>

      <!-- Gò Vấp -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-13.jpg"
            alt="Gò Vấp"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Gò Vấp
          </h3>
          <p class="text-nature-300 text-sm">17+ tòa nhà</p>
        </div>
      </a>

      <!-- Tân Bình -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-14.jpg"
            alt="Tân Bình"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            Tân Bình
          </h3>
          <p class="text-nature-300 text-sm">265+ tòa nhà</p>
        </div>
      </a>

      <!-- TP. Thủ Đức -->
      <a
        href="#"
        data-aos="zoom-in-right"
        class="border-nature-100 aos-init swiper-slide-active aos-animate group flex flex-col items-center gap-3 rounded-xl border bg-white p-4 transition-all hover:shadow-lg md:flex-row"
      >
        <div
          class="flex items-center justify-center overflow-hidden rounded-lg bg-primary/10"
          style="width: 100px; height: 100px"
        >
          <img
            src="assets/images/thumbnails/thumbnail-15.jpg"
            alt="TP. Thủ Đức"
            class="aspect-square rounded-lg object-cover hover:scale-110"
            style="width: 100%; height: 100%"
          />
        </div>
        <div>
          <h3
            class="text-nature-600 text-lg font-semibold transition-colors group-hover:text-primary"
          >
            TP. Thủ Đức
          </h3>
          <p class="text-nature-300 text-sm">200+ tòa nhà</p>
        </div>
      </a>
    </div>
  </div>
  <div>
    <button
      id="toggle-office-district-btn"
      class="mx-auto mt-4 flex items-center gap-2 rounded-lg border border-secondary px-6 py-2.5 text-sm font-semibold text-secondary transition-colors hover:border-primary hover:text-primary"
      onclick="
        document
          .getElementById('expandable-office-district')
          .classList.toggle('hidden');
        this.innerHTML = this.innerHTML.includes('Xem thêm')
          ? '<i class=\'fas fa-chevron-up\'></i> Thu gọn'
          : '<i class=\'fas fa-chevron-down\'></i> Xem thêm';
      "
    >
      <i class="fas fa-chevron-down"></i> Xem thêm
    </button>
  </div>
</div>
