<div
  class="container mx-auto grid items-center gap-4 overflow-hidden px-4 py-8 md:grid-cols-2"
>
  <div
    data-aos="fade-right"
    class="aos-init aos-animate flex h-full flex-col justify-between gap-4 md:gap-10"
  >
    <h2 class="heading-2 text-2xl font-bold uppercase">Đối tác Chủ đầu tư</h2>
    <p class="text-content-custom">
      An Phú Office là một doanh nghiệp tiên phong trong lĩnh vực bất động sản
      và phát triển không gian làm việc hiện đại, luôn đặt sự bền vững và giá
      trị lâu dài lên hàng đầu. Công ty tự hào đồng hành cùng nhiều đối tác chủ
      đầu tư uy tín như CapitaLand, REE Corporation, SSG Group, Mapletree, Regus
      và Saigon Centre.
    </p>
    <p class="text-content-custom">
      Sự hợp tác này không chỉ mang lại những dự án chất lượng cao, mà còn góp
      phần kiến tạo môi trường làm việc chuyên nghiệp, tiện nghi và thân thiện.
      Với tầm nhìn chiến lược, An Phú Office cùng các đối tác đang xây dựng nền
      tảng phát triển bền vững cho cộng đồng và xã hội.
    </p>
    <!-- <a href="/doi-tac" class="font-medium  text-content-custom hover:underline">Tìm hiểu thêm</a> -->
    <a
      href="/doi-tac"
      class="cta text-content-custom inline-flex w-fit items-center gap-2 self-start font-medium"
    >
      <span class="text-content-custom font-bold">Tìm hiểu thêm</span>
      <svg width="15px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>

  <div
    data-aos="fade-left"
    class="aos-init aos-animate grid grid-cols-3 gap-4 md:grid-cols-3 md:gap-y-6"
  >
    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-CapitaLand-feature.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-halo-building.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-Cobi-groupp.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-ree-coporation.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-SSG-Group-feature.png"
          alt="TP. Thủ Đức"
          class="rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-maple-tree.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-moc-gia.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>

    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/logo-regus.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>
    <div
      class="border-nature-100 rounded-xl border bg-white p-4 transition-all hover:shadow-lg"
    >
      <a
        href="van-phong-tron-goi-detail.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/logo/saigon-centre.png"
          alt="TP. Thủ Đức"
          class="h-auto rounded-lg object-cover opacity-80 transition hover:opacity-100"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</div>
