<div class="container overflow-hidden px-4 py-8">
  <h2
    data-aos="fade-up"
    data-aos-delay="300"
    class="heading-2 text-center uppercase"
  >
    quy trình tìm văn phòng
  </h2>
  <p
    data-aos="zoom-in-up"
    data-aos-delay="150"
    class="text-content-custom text-center"
  >
    Với quy trình tìm văn phòng rõ ràng và minh bạch, An Phú Office Office đồng
    hành <br />cùng doanh nghiệp từ khâu tư vấn đến ký hợp đồng và bàn giao.
  </p>
  <div class="timeline-wrapper mt-lg">
    <!-- Top Cards -->
    <div class="cards-row top-row flex flex-col lg:flex-row">
      <!-- card 1 -->
      <div data-aos="zoom-in" class="cardProced blue-card">
        <div class="chart-box">
          <img
            src="assets/images/services/checklist.jpg"
            alt=""
            class="procedureImg transition-transform duration-300 hover:scale-110"
          />
        </div>
        <h3 class="text-content-custom mt-1 font-bold">1. Nhận nhu cầu thuê</h3>
        <p class="text-content-custom">
          Khách hàng cung cấp diện tích – ngân sách – vị trí mong muốn.
        </p>
        <div class="connector-line"></div>
      </div>
      <!-- Arrow Timeline mobile -->
      <div class="arrow-timelinemobile">
        <div
          data-aos="zoom-in"
          data-aos-delay="0"
          class="arrow-mobile blue-arrow"
        >
          <p class="text-content-custom">
            <span class="text-white">Bước 1</span>
          </p>
        </div>
      </div>

      <!-- card 2 -->
      <div class="spacer"></div>
      <div data-aos="zoom-in" data-aos-delay="200" class="cardProced blue-card">
        <div class="chart-box">
          <img
            src="assets/images/services/Consultation.jpg"
            alt=""
            class="procedureImg transition-transform duration-300 hover:scale-110"
          />
        </div>
        <h3 class="text-content-custom mt-1 font-bold">3. Khảo sát thực tế</h3>
        <p class="text-content-custom">
          Sắp xếp khảo sát trực tiếp từng văn phòng để khách hàng đánh giá.
        </p>
        <div class="connector-line"></div>
      </div>
      <!-- Arrow Timeline mobile -->
      <div class="arrow-timelinemobile">
        <div
          data-aos="zoom-in"
          data-aos-delay="100"
          class="arrow-mobile black-arrow"
        >
          <p class="text-content-custom">
            <span class="text-white">Bước 3</span>
          </p>
        </div>
      </div>

      <!-- card 3 -->
      <div class="spacer"></div>
      <div data-aos="zoom-in" data-aos-delay="400" class="cardProced blue-card">
        <div class="chart-box">
          <img
            src="assets/images/services/Cost-optimization.jpg"
            alt=""
            class="procedureImg transition-transform duration-300 hover:scale-110"
          />
        </div>
        <h3 class="text-content-custom mt-1 font-bold">5. Đàm phán</h3>
        <p class="text-content-custom">
          Hỗ trợ đàm phán mức giá và điều khoản hợp đồng tốt nhất.
        </p>
        <div class="connector-line"></div>
      </div>
      <!-- Arrow Timeline mobile -->
      <div class="arrow-timelinemobile">
        <div
          data-aos="zoom-in"
          data-aos-delay="200"
          class="arrow-mobile blue-arrow"
        >
          <p class="text-content-custom">
            <span class="text-white">Bước 5</span>
          </p>
        </div>
      </div>
    </div>
    <!-- Arrow Timeline -->
    <div class="arrow-timeline hidden lg:flex-row">
      <div data-aos="zoom-in" data-aos-delay="0" class="arrow blue-arrow">
        <p class="text-content-custom">
          <span class="text-white">Bước 1</span>
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100" class="arrow black-arrow">
        <p class="text-content-custom">
          <span class="text-white">Bước 2</span>
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="200" class="arrow blue-arrow">
        <p class="text-content-custom">
          <span class="text-white">Bước 3</span>
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="300" class="arrow black-arrow">
        <p class="text-content-custom">
          <span class="text-white">Bước 4</span>
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="400" class="arrow blue-arrow">
        <p class="text-content-custom">
          <span class="text-white">Bước 5</span>
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="500" class="arrow black-arrow">
        <p class="text-content-custom">
          <span class="text-white">Bước 6</span>
        </p>
      </div>
    </div>

    <!-- Bottom Cards -->
    <div class="cards-row bottom-row flex flex-col lg:flex-row">
      <div class="spacer2"></div>
      <!-- card 4 -->
      <div
        data-aos="zoom-in"
        data-aos-delay="300"
        class="cardProced green-card"
      >
        <div class="connector-line top"></div>
        <div class="chart-box">
          <img
            src="assets/images/services/dam-phan-chinh-sach-toi-uu.jpg"
            alt=""
            class="procedureImg transition-transform duration-300 hover:scale-110"
          />
        </div>
        <h3 class="text-content-custom mt-1 font-bold">
          2. Gửi báo giá phù hợp
        </h3>
        <p class="text-content-custom">
          Chọn lọc tòa nhà phù hợp và gửi danh sách báo giá chi tiết.
        </p>
        <div class="connector-linemobile"></div>
      </div>
      <!-- Arrow Timeline mobile -->
      <div class="arrow-timelinemobile">
        <div
          data-aos="zoom-in"
          data-aos-delay="0"
          class="arrow-mobile blue-arrow"
        >
          <p class="text-content-custom">
            <span class="text-white">Bước 2</span>
          </p>
        </div>
      </div>

      <div class="spacer2"></div>
      <!-- card 5 -->
      <div
        data-aos="zoom-in"
        data-aos-delay="500"
        class="cardProced green-card"
      >
        <div class="connector-line top"></div>
        <div class="chart-box">
          <img
            src="assets/images/services/gui-thong-tin-bao-gia.jpg"
            alt=""
            class="procedureImg transition-transform duration-300 hover:scale-110"
          />
          <!-- <div class="pie-chart" style="--percent: 80;">
                                <span class="percent-text">80%</span>
                            </div> -->
        </div>
        <h3 class="text-content-custom mt-1 font-bold">4. Tư vấn chuyên sâu</h3>
        <p class="text-content-custom">
          Phân tích ưu – nhược điểm từng tòa nhà và đề xuất lựa chọn tối ưu.
        </p>
        <div class="connector-linemobile"></div>
      </div>
      <!-- Arrow Timeline mobile -->
      <div class="arrow-timelinemobile">
        <div
          data-aos="zoom-in"
          data-aos-delay="300"
          class="arrow-mobile black-arrow"
        >
          <p class="text-content-custom">
            <span class="text-white">Bước 4</span>
          </p>
        </div>
      </div>

      <div class="spacer2"></div>
      <!-- card 6 -->
      <div
        data-aos="zoom-in"
        data-aos-delay="700"
        class="cardProced green-card"
      >
        <div class="connector-line top"></div>
        <div class="chart-box">
          <img
            src="assets/images/services/hoan-thien-va-ban-giao.jpg"
            alt=""
            class="procedureImg transition-transform duration-300 hover:scale-110"
          />
        </div>
        <h3 class="text-content-custom mt-1 font-bold">
          6. Ký hợp đồng & bàn giao
        </h3>
        <p class="text-content-custom">
          Hỗ trợ ký hợp đồng thuê và chuẩn bị chuyển vào văn phòng mới.
        </p>
        <div class="connector-linemobile"></div>
      </div>
      <!-- Arrow Timeline mobile -->
      <div class="arrow-timelinemobile">
        <div
          data-aos="zoom-in"
          data-aos-delay="200"
          class="arrow-mobile blue-arrow"
        >
          <p class="text-content-custom">
            <span class="text-white">Bước 6</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
